<html>
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>Blinky Controller</title>

		<!-- Bootstrap core CSS -->
    	<link href="./site/dist/css/bootstrap.min.css" rel="stylesheet">

		<!-- Bootstrap theme -->
    	<link href="./site/dist/css/bootstrap-theme.min.css" rel="stylesheet">

		<!-- Bootstrap toggle -->
    	<link href="./site/dist/css/bootstrap-toggle.min.css" rel="stylesheet">
	</head>
	<body>
		<br>

		<h1 align="center">Welcome to Blinky Controller!</h1>

		<br>

		<div class="container">
			<div class="row">
				<div class="col">
					<h2>Pattern</h2>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="commandDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						{{ currentCommand }}
						</button>
						<div class="dropdown-menu" aria-labelledby="commandDropdown">
						{% for command in commands %}
						<button class="dropdown-item" type="button" value={{ command }} onclick="commandSelected(this);">{{ command }}</button>
						{% endfor %}
						</div>
					</div>
				</div>

				<div class="col">
					<h2>Controls</h2>
					<button class="btn btn-lg btn-default" type="button" onclick="sendClear()">Clear</button>
					<button class="btn btn-lg btn-default" type="button" onclick="sendStop()">Freeze</button>

					<br><br>

					<h2>Dynamic Color</h2>
					<input id="dyna_toggle" type="checkbox" data-toggle="toggle" onchange="handleDyna(this);"{% if dyna_color == true %} checked{% endif %}>
				</div>

				<div class="col">
					<h2>Speed</h2>
					<input id="speed_input" type="text" name="speed" value={{ speed }} oninput="setSpeed()">

					<br><br>

					<h2>Color</h2>
					<p>Red: </p>
					<input id="red_input" type="text" name="color" value={{ red }} oninput="setColor()"><br>
					<p>Green: </p>
					<input id="green_input" type="text" name="color" value={{ green }} oninput="setColor()"><br>
					<p>Blue: </p>
					<input id="blue_input" type="text" name="color" value={{ blue }} oninput="setColor()"><br>
				</div>
			</div>
		</div>





		<script>
		function commandSelected(button) {
			var command = button.value;
			console.log("Selected: " + command);
			sendUpdate({"command": command});

			// Optimistically update
			document.getElementById("commandDropdown").innerHTML = command;
		}

		function setSpeed() {
			var speed = parseFloat(document.getElementById("speed_input").value);
			console.log("Speed: "+speed);
			sendUpdate({"speed": speed});
		}

		function setColor() {
			var red = parseInt(document.getElementById("red_input").value);
			var green = parseInt(document.getElementById("green_input").value);
			var blue = parseInt(document.getElementById("blue_input").value);
			var color = [red, green, blue];
			console.log("Color: "+color);
			sendUpdate({"color": color});
		}

		function handleDyna(checkbox) {
			sendUpdate({"dynamic_color": checkbox.checked});
		}

		function sendUpdate(data) {
			var route = "/update";
			sendPOSTRequest(route, data, null);
		}	

		function sendStop() {
			var route = "/stop";
			sendPOSTRequest(route, {}, null);
		}	

		function sendClear() {
			var route = "/clear";
			sendPOSTRequest(route, {}, function(success) {
				var buttons = document.getElementsByClassName("command_button");
				Array.prototype.forEach.call(buttons, function(button) {
					button.checked = false;
				});
			});

			// Optimistically update
			document.getElementById("commandDropdown").innerHTML = "None";
		}

		function updateState() {
			sendGETRequest("/state", function(state) {
				if (state) {
					document.getElementById("red_input").value = state.color[0];
					document.getElementById("green_input").value = state.color[1];
					document.getElementById("blue_input").value = state.color[2];
					document.getElementById("dyna_toggle").checked = state.dyna_color;
					document.getElementById("speed_input").value = state.speed;

					document.getElementById("commandDropdown").innerHTML = state.command;
				}			
			});
		}

		window.setInterval(updateState, 2000);


		// Network Requests

		//http://stackoverflow.com/questions/24468459/sending-a-json-to-server-and-retrieving-a-json-in-return-without-jquery
		function sendRequest(type, route, data, completion) {
			xhr = new XMLHttpRequest();
			xhr.open(type, route, true);
			xhr.onreadystatechange = function() {
				if (xhr.readyState == 4) {
					var jsonResponse = JSON.parse(xhr.responseText);
					if (completion && jsonResponse) {
						completion(jsonResponse);
					}
				}
			}
			if (type == "POST") {
				xhr.setRequestHeader("Content-type", "application/json");
				xhr.send(JSON.stringify(data));
			} else {
				xhr.send();
			}
		}

		function sendPOSTRequest(route, data, completion) {
			sendRequest("POST", route, data, function(json) {
				if (completion) {
					completion(json["success"]);
				}
			});
		}

		function sendGETRequest(route, completion) {
			sendRequest("GET", route, null, completion);
		}

		</script>

		 <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	    <script>window.jQuery || document.write('<script src="./site/assets/js/vendor/jquery.min.js"><\/script>')</script>
	    <script src="./site/dist/js/tether.min.js"></script>
	    <script src="./site/dist/js/bootstrap.min.js"></script>
	    <script src="./site/dist/js/bootstrap-toggle.min.js"></script>
	</body>
</html>